{embed="site/header"}

{exp:channel:form channel="customer" return="{segment_1}" entry_id="{segment_3}" }
	<div>
		<label for="Name">Customer Name</label>
		<input type="text" name="title" value="{title}">
	</div>

	<div>
		<label for="Address">Address</label>
		{field:customer_address}
	</div>
	<div>
		<label for="Contact">Contact<br> <small>{instructions:contact}</small></label>
		{field:customer_contact}
	</div>
	<div>
		<label for="Total Purchases">Total Purchases</label>
		{field:total_purchases}
	</div>
	<hr>

<p>Date <br> <input type="text" name="entry_date" value="{entry_date}" maxlength="23" size="25"></p>

{status_menu}
<p>Status<br>
	<select name="status">
		{select_options}
	</select>
</p>
{/status_menu}


<button id="form_submit" type="submit">Submit</button>
{/exp:channel:form}

{embed="site/footer"}