$baseColor: #303d3f;
$lightColor: #efefef;

.critical_level_page{
	h1{
		color: $baseColor;

		span{
			color: red;
		}
	}

	label{
		font-weight: bold;
	}

	.product_name{
		font-weight: bold;
	}

	.btn-addToPO{
		margin: 10px 0;
		float: right;
		font-weight: bold;
	}

	table{
		thead{

		}
		tbody{
			tr:hover{
				cursor: pointer;
			}
		}
	}
}