{embed="site/header"}

{if logged_in}
<h5><a class="btn btn-new" href="{path='purchase_order/create'}">Create Purchase Order</a></h5>
{/if}

<table border='1' class="tbl_display">
  <thead>
    <tr>
      <th class="alignLeft">PO#</th>
      <th>Supplier</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {exp:channel:entries channel="purchase_order" orderby="entry_date"}
    <tr>
      <td class="alignLeft"><a href="{path='purchase_order/update/{entry_id}'}">{title}</a></td>
      <td>{supplier:name}</td>
      <td>{entry_date format="%F %d, %Y | %h:%i %a"}</td>
    </tr>
    {/exp:channel:entries}
  </tbody>
</table>

{embed="site/footer"}